@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body, html {
  font-family: "Gilroy";
  font-size: 18px;
  color: #070707;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  text-align: center;
  font-weight: 700;
}

.header {
  margin-bottom: 40px;
}

.nav {
  border-bottom: 1px solid #828282;
  padding: 0;
}
.nav__list {
  margin-top: 35px;
  margin-bottom: 31px;
  margin-right: 35px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  color: #828282;
  font-weight: 700;
}
.nav__link:hover, .nav__link:active {
  color: #070707;
}
.nav__listTwo {
  list-style: none;
}
.nav__touch {
  width: 15px;
}

.main {
  background-color: #f6f6f6;
}
.main__descrip {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.main__title {
  font-size: 47px;
  font-weight: 700;
  width: 123px;
}
.main__text {
  font-size: 20px;
  font-weight: 900;
  width: 250px;
}
.main__links {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.main__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #828292;
}
.main__link--active {
  color: #000;
}
.main__link:first-child::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}
.main__photo {
  margin-bottom: 100px;
}
.main__image {
  width: 70%;
  margin-bottom: 100px;
}

.about {
  padding-bottom: 120px;
}
.about__title {
  padding-top: 120px;
}
.about__subtitle {
  font-style: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.video {
  padding: 100px;
}
.video__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 29px;
}
.video__play {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video__move {
  width: 400px;
  height: 700px;
  margin: 10px;
}

.footer__title {
  padding-top: 114px;
  margin-bottom: 20px;
}
.footer__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 29px;
}
.footer__btn {
  display: block;
  margin: 0 auto;
  width: 180.5px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: black;
  border: 0;
  border-radius: 30px;
  margin-bottom: 50px;
  transition: all 0.8s linear;
}
.footer__btn:hover {
  color: black;
  background-color: #fff;
  border: 1px solid black;
}
.footer__social {
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 123px;
}

.photo {
  background-color: #f6f6f6;
  padding: 100px;
}
.photo__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 29px;
}
.photo__picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photo__jupPhoto {
  width: 250px;
  height: 250px;
  margin: 10px;
  transition: transform 1s ease;
}
.photo__jupPhoto:hover {
  transform: scale(1.5);
}

.clients {
  background-color: #f6f6f6;
  padding: 100px;
}
.clients__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 29px;
}
.clients__photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clients__say {
  width: 250px;
  height: 250px;
  margin: 10px;
  transition: transform 1s ease;
}
.clients__say:hover {
  transform: scale(1.5);
}/*# sourceMappingURL=style.css.map */